[submodule "libs/liblc3"]
	path = libs/liblc3
	url = https://github.com/google/liblc3.git
[submodule "libs/btstack"]
	path = libs/btstack
	url = https://github.com/Infineon/btstack.git
[submodule "libs/freertos"]
	path = libs/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "libs/emusb-device"]
	path = libs/emusb-device
	url = https://github.com/Infineon/emusb-device.git
[submodule "libs/wifi-host-driver"]
	path = libs/wifi-host-driver
	url = https://github.com/Infineon/wifi-host-driver.git
[submodule "libs/btstack-integration"]
	path = libs/btstack-integration
	url = https://github.com/Infineon/btstack-integration.git
[submodule "libs/abstraction-rtos"]
	path = libs/abstraction-rtos
	url = https://github.com/Infineon/abstraction-rtos.git
[submodule "libs/mtb-hal-cat1"]
	path = libs/mtb-hal-cat1
	url = https://github.com/Infineon/mtb-hal-cat1.git
[submodule "libs/core-lib"]
	path = libs/core-lib
	url = https://github.com/Infineon/core-lib.git
[submodule "libs/mtb-pdl-cat1"]
	path = libs/mtb-pdl-cat1
	url = https://github.com/Infineon/mtb-pdl-cat1.git
[submodule "libs/TARGET_KIT_PSE84_EVAL_EPC2"]
	path = libs/TARGET_KIT_PSE84_EVAL_EPC2
	url = https://github.com/Infineon/TARGET_KIT_PSE84_EVAL_EPC2.git
[submodule "libs/TARGET_CYW955513EVK-01"]
	path = libs/TARGET_CYW955513EVK-01
	url = https://github.com/Infineon/TARGET_CYW955513EVK-01.git
[submodule "libs/mtb-ipc"]
	path = libs/mtb-ipc
	url = https://github.com/Infineon/mtb-ipc.git
[submodule "libs/cmsis"]
	path = libs/cmsis
	url = https://github.com/Infineon/cmsis.git
[submodule "libs/mtb-dsl-pse8xxgp"]
	path = libs/mtb-dsl-pse8xxgp
	url = https://github.com/Infineon/mtb-dsl-pse8xxgp.git
[submodule "libs/clib-support"]
	path = libs/clib-support
	url = https://github.com/Infineon/clib-support.git
[submodule "libs/retarget-io"]
	path = libs/retarget-io
	url = https://github.com/Infineon/retarget-io.git
[submodule "libs/kv-store"]
	path = libs/kv-store
	url = https://github.com/Infineon/kv-store.git
[submodule "libs/bt-fw-ifx-cyw55500a1"]
	path = libs/bt-fw-ifx-cyw55500a1
	url = https://github.com/Infineon/bt-fw-ifx-cyw55500a1.git
[submodule "libs/block-storage"]
	path = libs/block-storage
	url = https://github.com/Infineon/block-storage.git
[submodule "libs/async-transfer"]
	path = libs/async-transfer
	url = https://github.com/Infineon/async-transfer.git
[submodule "libs/mtb-srf"]
	path = libs/mtb-srf
	url = https://github.com/Infineon/mtb-srf.git
[submodule "libs/se-rt-services-utils"]
	path = libs/se-rt-services-utils
	url = https://github.com/Infineon/se-rt-services-utils.git
