[submodule "libs/liblc3"]
	path = libs/liblc3
	url = https://github.com/google/liblc3.git
[submodule "libs/btstack"]
	path = libs/btstack
	url = https://github.com/Infineon/btstack.git
[submodule "libs/usbdev"]
	path = libs/usbdev
	url = https://github.com/Infineon/usbdev.git
[submodule "libs/freertos"]
	path = libs/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
